<footer>
      <p>
        Copyright &copy; 2005-<%= Time.now.year %> and made by Wouter Dijks with help from
        <%= link_to 'The Pragmatic Studio','https://pragmaticstudio.com' %> 
      </p>
    </footer>