<footer>
      <p>
        Copyright &copy; 2021-<%= Time.now.year %> made by Wouter Dijks with help from
        <%= link_to 'The Pragmatic Studio','https://pragmaticstudio.com' %> 
      </p>
    </footer>